$regular-font: 'Open Sans', sans-serif;



$title-font: Playfair;

$sidebar-color:#444c63;
$sidebar-font-color-unactive:rgba(255, 255, 255, 0.50);
$white-color:white;
$blue-color: #00b5fe;
$blue-color-darker: #247da9;
$text-color: #364760;



$main-font-size: 14px;
$small-text:9px;
$title-font-size: 24px;


